.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: none;
    margin-top: 5px;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #eeeeee;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #196b40;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
  text-transform: uppercase;
  font-family: 'Oxygen', sans-serif;
  padding: 25px;
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  display: inline-block;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:#196b40;
  text-shadow:
               .1px .1px .1px #196b40;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #196b40;
  background-color: #eeeeee;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #eeeeee;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #196b40;
  background-color: #eeeeee;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #196b40;
  background-color: #eeeeee;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #196b40;
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle {
  border-color: #eeeeee;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #196b40;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #196b40;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #196b40;
    background-color: #eeeeee;
  }
}

/* HEADER VIDEO ------------------------------------ */

.header-unit {
  height: 48rem;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
  background: linear-gradient(50deg, rgba(0,0,0,0.6) 10%, rgba(0,0,0,0.2) 90%);
}

@media (max-width: 481px) {
  .header-unit {
    background: linear-gradient(50deg, rgba(0,0,0,0.6) 10%, rgba(0,0,0,0.2) 90%), url(https://source.unsplash.com/category/nature/800x600?river) no-repeat center center;
  }
  .video-container {
    display:none
  }
  #logo {
      padding-bottom: 8rem;
  }
}

@media screen and (max-width: 960px) {
   .header-unit {
      background: linear-gradient(50deg, rgba(0,0,0,0.6) 10%, rgba(0,0,0,0.2) 90%), url(https://source.unsplash.com/category/nature/960x600?river) no-repeat center center;
    }
    #logo {
        padding-bottom: 8rem;
    }
    .video-container {
      display: none;
    }
}
#video-container {
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    overflow: hidden;
    position: absolute;
}
video {
    position:absolute;
    z-index:-1;
}
video.fillWidth {
    width: 100%;
}
/*-----------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700|Merriweather|Oxygen);

body,
html {
 font-family: 'Merriweather', serif;
 -webkit-font-smoothing: antialiased;
}

@font-face {
 font-family: 'MavenPro';
 src: url('/static/font/Bariol_Regular.otf');
}

#logo {
    padding-bottom: 5rem;
    width: 48rem;
    margin:0 auto;
}

.header-unit h4{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  color: white;
  font-size: auto;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #000,
               .2px .2px .2px black;
}

h4 {
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'MavenPro';
    color: white;
    position: relative;
    font-size: 40px;
    font-weight: bold;
}

section {
    padding: 100px 0;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}
.navbar {
  margin-bottom: 0;
}

#main {
  background: #2D3A3A;
  min-height: 100rem;
}

#main h1 {
  color: black;
  text-align: center;
  font-family: 'MavenPro';
}

.post {
  background: #FAFAFA;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.post:first-child {
  margin-top: 20px;
}
.post p {
  font-size: 18px;
}
.blog {
  background: #FAFAFA;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.img-responsive {
  padding-bottom: 20px;
}
.raised-block {
    background-color: #eeeeee ;
    margin-left: 0;
    margin-right: -0.625rem;
    border: 5px solid #000;
}
@media (max-width: 33.9em){ // this is for our mobile layout where columns stack
    .raised-block {
        margin-left: -0.625rem;
    }
}
.row [class^="col-"]:first-child>.raised-block {
    // this is so the first column has no margin so it will not be "indented"
    margin-left: -0.625rem;
}

.gallery {
  height: 40rem;
  width: 100%;
}

.images {
  padding-top: 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.photo {
  width: 100%;
  height: 40rem;
}
