<!-- <div class="col-md-12 text-center">
  <h2>Guides</h2>
  <hr>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2>Peter Aspinwall</h2>
      <p>Peter Aspinwall is a lifelong angler who moved to County Cork in 1996. Prior to that, he lived in Cambridgeshire, close to Grafham Water where he learnt to fly fish. He has primarily fished for Salmon and Bass since moving here and has been a member of the BAA for the last twelve years. He is a qualified Marine and Countryside tour guide specialising in Game Fishing. He consistently catches Salmon for himself and guests alike and is the guide on the private beat of the Bandon River at Kilcoleman.</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive images" src="{{ '/static/img/image01.jpg'|url }}"></img>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive images" src="{{ '/static/img/image04.jpg'|url }}"></img>
    </div>
    <div class="col-md-6">
      <h2>Phil Dewey</h2>
      <p>Phil Dewey has been an avid fly angler from an early age. Fishing competitively at a very high level for over forty years, he has guided anglers from all over the world, both novice and expert alike. Phil has fished the Bandon River since becoming a member of the BAA in the mid 70&#39;s and has many salmon and trout to his own rod. He is also a professional fly tyer, tying small trout flies on size twenty hooks up to big salmon flies on three inch tubes. So most of the fish he and his guests catch are on flies tied by the man himself. Phil has completed a guiding course with APGAI-IRELAND Chairperson, Glenda Powell.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Jason Nash</h2>
      <p>Jason Nash is Environmental Officer and Secretary of BAA. He holds a degree in Zoology and is currently studying a course in Fisheries Management. Fishing on the Bandon since an early age, he has developed an intimate understanding of the river. Over the past few seasons he has kept an online blog, www.savagefishing.blogspot.com, and writes for Irish e-zine “Off the Scale”. Jason has completed a guiding course with APGAI-IRELAND Chairperson, Glenda Powell.
      </p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="{{ '/static/img/image03.jpg'|url }}"></img>
    </div>
  </div> -->
